<footer xmlns:th="http://www.thymeleaf.org" class="page-footer pt-4 mt-0 text-center text-md-left">
        <div class="container">
            <div class="row mt-3">

                <!-- First column -->
                <div class="col-md-4 col-lg-4 col-12">
                    <h6 class="text-uppercase font-weight-bold mb-4">Công ty</h6>
                    <p>
                        CÔNG TY TNHH TỰ ĐỘNG HÓA MẶT TRỜI xin chân thành cảm ơn sự quan tâm của quý khách hàng đối với
                        sản
                        phẩm và dịch vụ của công ty chúng tôi.</p>
                </div>
                <!-- /.First column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Second column -->
                <div class="col-md-4 col-lg-4 col-12">
                    <h6 class="text-uppercase font-weight-bold mb-4">Thi công</h6>
                    <p><a href="#!">Tủ Điện Hạ Thế</a></p>
                    <p><a href="#!">Tủ Tụ Bù</a></p>
                    <p><a href="#!">Tủ Trung Thế</a></p>
                    <p><a href="#!">Tủ Điện Điều Khiển</a></p>
                </div>
                <!-- /.Second column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Fourth column -->
                <div class="col-md-4 col-lg-4 col-12">
                    <h6 class="text-uppercase font-weight-bold mb-4">Liên hệ</h6>
                    <p><i class="fas fa-home mr-3"></i> 63/1 Tân Thới Nhất 05,Khu phố 7, Phường Tân Thới Nhất, Quận 12,
                        TP
                        HCM</p>
                    <p><i class="fas fa-envelope mr-3"></i> Sun.79automation@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> MR .Nhật : 098 121 88 53</p>
                    <p><i class="fas fa-phone mr-3"></i> Mrs .Thư : 090 382 9397</p>
                    <p><i class="fas fa-phone mr-3"></i> Mr.Nam : 093 200 0198</p>
                </div>
                <!-- /.Fourth column -->

            </div>

            <!-- /.Footer Links -->

            <hr>

            <!-- Footer Links -->
            <div class="row mt-3 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-12">

                    <!-- Copyright -->
                    <p class="text-left grey-text">© 2020 Copyright: <a
                            href="https://mdbootstrap.com/education/bootstrap/"><strong>
                        Sun M&E</strong></a></p>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-12">
                    <!-- Social buttons -->
                    <div class="social-section">
                        <ul class="list-unstyled list-inline d-flex justify-content-end">
                            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"><i
                                    class="fab fa-facebook-f">
                            </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"><i
                                    class="fab fa-twitter">
                            </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"><i
                                    class="fab fa-google-plus-g">
                            </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"><i
                                    class="fab fa-linkedin-in">
                            </i></a></li>
                        </ul>
                    </div>
                    <!-- /.Social buttons -->
                </div>
                <!-- Grid column -->

            </div>
        </div>
    </footer>
