<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Your custom styles (optional) -->
    <link th:rel="stylesheet" th:href="@{/summernote/summernote-bs4.css}"/>
    <link rel="stylesheet" th:href="@{/css/modules/animations-extended.min.css}">

</head>
<body>

<form method="post" th:action="@{/admin}" th:object="${post}">
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">
                <i class="fab fa-diaspora prefix"></i>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" autocomplete="off" class="form-control" th:field="*{title}"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">
                <label class="px-2 border rounded" style="cursor: pointer;" for="category" id="category" data-toggle="modal" data-target="#modalLRFormDemo">Danh mục &ensp;<i class="fas fa-caret-down"></i></label>
                <input th:field="*{category}" type="hidden" name="category" id="categoryVal">
            </div>

        </div>
        <div class="col-md-3">
            <div class="md-form">
                <div class="form-check">
                    <input th:field="*{ispulic}" type="checkbox" class="form-check-input" id="ispulic" style="!important;"/>
                    <label class="form-check-label" for="ispulic">Public</label>
                </div>
            </div>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="*{isshowindex}" id="isshowindex">
                <label class="form-check-label" for="isshowindex">
                    isshowindex
                </label>
            </div>
        </div>
        <!-- Grid column -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form">
                                            <textarea type="text" rows="4" id="content"
                                                      class="form-control"
                                                      th:field="*{context}" autocomplete="off"></textarea>
            </div>
        </div>
    </div>


    <button class="btn btn-primary mb-2" type="submit">Submit form</button>
</form>

</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<!-- Custom scripts -->
<script th:src="@{/summernote/summernote-bs4.js}"></script>
</html>