<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script>
        $(document).ready(function () {
            jQuery("#btn").change(function(){
                $.ajax({
                    url: 'http://localhost:8080/api/ca/'+$("#btn").val(),
                    type: 'GET',
                    dataType:"JSON",
                    success: function (data) {
                        var str = ""
                        for (var i = 0 ; i< data.length; i++){
                            str += "<option>"+data[i].title+"</option>"
                        }
                        $("#se2").html(str);

                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });
            });
        });
    </script>
</head>
<body>

<select name="" id="btn">
    <option th:each="se : ${@categoryRepository.findByIdparent(null)}" th:value="${se.getId()}"
            th:text="${se.getTitle()}"></option>
</select>

<h1 id="reCa">Nothing</h1>

<select name="" id="se2">
    <option></option>
</select>
<!-- Custom scripts -->
<script>


</script>
</body>

</html>