<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
</head>
<body>
<h1>List user</h1>
<table>
    <tr th:each="u : ${listUser}">
        <td th:text="*{u.getUsername()}"></td>
        <td th:text="*{u.getPassword()}"></td>
        <td th:text="*{u.getName()}"></td>
    </tr>
</table>

<!-- Custom scripts -->
<script>

    new WOW().init();
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 3; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
</body>

</html>